<a href="https://colab.research.google.com/github/MuriloBarreto/Airbnb_Price_Prediction/blob/main/Predi%C3%A7%C3%A3o_de_pre%C3%A7os_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#carreganndo os dados
filename = 'Listings.csv'
df1 = pd.read_csv(filename,encoding='ISO-8859-1')
df1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        listing_id  ... instant_bookable
0           281420  ...                f
1          3705183  ...                f
2          4082273  ...                f
3          4797344  ...                f
4          4823489  ...                f
...            ...  ...              ...
279707    38338635  ...                f
279708    38538692  ...                f
279709    38683356  ...                f
279710    39659000  ...                f
279711    40219504  ...                f

[279712 rows x 33 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279539 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  object
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 70.4+ MB

In [ ]:
df1.shape

(279712, 33)

In [ ]:
# Excluindo colunas que não usaremos na predição
df1.drop("host_has_profile_pic",axis=1,inplace=True)
df1.drop("latitude",axis=1,inplace=True)
df1.drop("longitude",axis=1,inplace=True)
df1.drop("host_id",axis=1,inplace=True)
df1.drop("host_since",axis=1,inplace=True)
df1.drop("host_location",axis=1,inplace=True)
df1.drop("listing_id",axis=1,inplace=True)
df1.drop("name",axis=1,inplace=True)
df1.drop("host_response_time",axis=1,inplace=True)
df1.drop("host_response_rate",axis=1,inplace=True)
df1.drop("host_acceptance_rate",axis=1,inplace=True)
df1.drop("district",axis=1,inplace=True)
df1.drop("review_scores_rating",axis=1,inplace=True)
df1.drop("review_scores_accuracy",axis=1,inplace=True)
df1.drop("review_scores_cleanliness",axis=1,inplace=True)
df1.drop("review_scores_checkin",axis=1,inplace=True)
df1.drop("review_scores_communication",axis=1,inplace=True)
df1.drop("review_scores_location",axis=1,inplace=True)
df1.drop("review_scores_value",axis=1,inplace=True)

In [ ]:
df1.drop("amenities",axis=1,inplace=True)

In [ ]:
df1.head()

  host_is_superhost  host_total_listings_count  ... maximum_nights instant_bookable
0                 f                        1.0  ...           1125                f
1                 f                        1.0  ...           1125                f
2                 f                        1.0  ...           1125                f
3                 f                        1.0  ...           1125                f
4                 f                        1.0  ...           1125                f

[5 rows x 13 columns]

In [ ]:
# Exibindo os tipos de cada coluna
df1.dtypes

host_is_superhost             object
host_total_listings_count    float64
host_identity_verified        object
neighbourhood                 object
city                          object
property_type                 object
room_type                     object
accommodates                   int64
bedrooms                     float64
price                          int64
minimum_nights                 int64
maximum_nights                 int64
instant_bookable              object
dtype: object

In [ ]:
# exibindo quantidade de valores nulos
df1.isna().sum()

host_is_superhost              165
host_total_listings_count      165
host_identity_verified         165
neighbourhood                    0
city                             0
property_type                    0
room_type                        0
accommodates                     0
bedrooms                     29435
price                            0
minimum_nights                   0
maximum_nights                   0
instant_bookable                 0
dtype: int64

In [ ]:
# eliminando linhas duplicadas do DataFrame
df1.drop_duplicates(inplace=True)

In [ ]:
df1.head()

  host_is_superhost  host_total_listings_count  ... maximum_nights instant_bookable
0                 f                        1.0  ...           1125                f
1                 f                        1.0  ...           1125                f
2                 f                        1.0  ...           1125                f
3                 f                        1.0  ...           1125                f
4                 f                        1.0  ...           1125                f

[5 rows x 13 columns]

In [ ]:
# Excluindo colunas que não ulitilizaremos e mapeando valores do dataset
df1.drop(["property_type","neighbourhood"],axis=1,inplace=True)

In [ ]:
df1["room_type"]=df1["room_type"].map({"Entire place":0,"Private room":1,"Hotel room":2,"Shared room":3})

In [ ]:
df1["instant_bookable"]=df1["instant_bookable"].map({"t":0,"f":1})

In [ ]:
df1["host_identity_v0rified"]=df1["host_identity_verified"].map({"t":0,"f":1})

In [ ]:
df1["host_is_superhost"]=df1["host_is_superhost"].map({"f":0,"t":1})

In [ ]:
df1.drop("host_identity_verified",axis=1,inplace=True)

In [ ]:
df1.head()

   host_is_superhost  ...  host_identity_v0rified
0                0.0  ...                     1.0
1                0.0  ...                     0.0
2                0.0  ...                     1.0
3                0.0  ...                     0.0
4                0.0  ...                     1.0

[5 rows x 12 columns]

In [ ]:
# Excluindo valores nulos do nosso dataset
df1.dropna(inplace = True)

In [ ]:
# exibindo quantidade de valores nulos na tabela novamente
df1.isna().sum()

host_is_superhost            0
host_total_listings_count    0
city                         0
room_type                    0
accommodates                 0
bedrooms                     0
price                        0
minimum_nights               0
maximum_nights               0
instant_bookable             0
host_identity_v0rified       0
dtype: int64

In [ ]:
df1.head()

   host_is_superhost  ...  host_identity_v0rified
0                0.0  ...                     1.0
1                0.0  ...                     0.0
2                0.0  ...                     1.0
3                0.0  ...                     0.0
4                0.0  ...                     1.0

[5 rows x 11 columns]

In [ ]:
# import scipy.stats as st
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)
IQR=Q3-Q1
df_clean=df1[~((df1<(Q1-1.5*IQR))|(df1>(Q3+1.5*IQR))).any(axis=1)]

In [ ]:
# Exibindo a quantidade de linhas e colunas do dataset
df_clean.shape

(117308, 11)

In [ ]:
df_clean.columns

Index(['host_is_superhost', 'host_total_listings_count', 'city', 'room_type',
       'accommodates', 'bedrooms', 'price', 'minimum_nights', 'maximum_nights',
       'instant_bookable', 'host_identity_v0rified'],
      dtype='object')

In [ ]:
df_clean.head()

   host_is_superhost  ...  host_identity_v0rified
0                0.0  ...                     1.0
1                0.0  ...                     0.0
2                0.0  ...                     1.0
3                0.0  ...                     0.0
4                0.0  ...                     1.0

[5 rows x 11 columns]

In [ ]:
X=df_clean
y=pd.DataFrame(df_clean, columns=["price"])

In [ ]:
#Dividindo os dados em conjuntos de treinamento e teste.
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

In [ ]:
# Dividindo o nosso Dataset por cidade
Sydney = X_test[X_test["city"]=="Sydney"]
rio = X_test[X_test["city"]=="Rio de Janeiro"]
bangkok = X_test[X_test["city"]=="Bangkok"]
newYork = X_test[X_test["city"]=="New York"]
paris = X_test[X_test["city"]=="Paris"]
capeTown = X_test[X_test["city"]=="Cape Town"]
mexicoCity = X_test[X_test["city"]=="Mexico City"]
istanbul = X_test[X_test["city"]=="Istanbul"]
hongKong = X_test[X_test["city"]=="Hong Kong"]
rome = X_test[X_test["city"]=="Rome"]

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [ ]:
#Treinando nosso modelo com o metodo RL
cols = ['host_is_superhost','host_total_listings_count','room_type','accommodates','bedrooms','minimum_nights','maximum_nights','instant_bookable','host_identity_v0rified']
# model.fit(X_train[cols],y_train['price'])
model.fit(X_train[cols],y_train)
rl_pred=model.predict(X_test[cols])

In [ ]:
from sklearn import metrics

In [ ]:
# testando o modelo RL usando Raiz do erro quadrático médio
rmse = np.sqrt(metrics.mean_squared_error(y_test['price'],rl_pred))
print(rmse.round(2))

235.71

In [ ]:
# metrics.r2_score(y_test['price'],rl_pred)

0.05914099421332475

In [ ]:
rl = pd.DataFrame(rl_pred)
rl=rl.rename(index=str, columns={0:'rl'})
rl.round(2)

           rl
0      171.61
1      195.83
2      213.21
3      192.31
4      163.80
...       ...
23457  224.47
23458  279.85
23459  169.02
23460  247.98
23461  269.58

[23462 rows x 1 columns]

In [ ]:
#Treinando nosso modelo com o metodo KNN com valor de K = 2
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=2, algorithm='brute')
knn.fit(X_train[cols],y_train)
knn_pred=knn.predict(X_test[cols])

In [ ]:
# testando o modelo knn usando Raiz do erro quadrático médio
rmse = np.sqrt(metrics.mean_squared_error(y_test['price'],knn_pred))
print(rmse.round(2))

281.04

In [ ]:
tknn  =  pd.DataFrame(knn_pred)
tknn=tknn.rename(index=str, columns={0:'Predicted Values'})
tknn

       Predicted Values
0                 351.0
1                 119.5
2                  82.5
3                 101.5
4                  52.5
...                 ...
23457             466.0
23458             471.5
23459              88.0
23460             160.0
23461             445.0

[23462 rows x 1 columns]

In [ ]:
#Treinando nosso modelo com o metodo xgboost
import xgboost as xgb
xgb_model = xgb.XGBRegressor(
    learning_rate=0.05,
    max_depth=3,
    min_child_weight=0.001,
    n_estimators=1000)
xgb_model.fit(X_train[cols], y_train)

[00:24:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=0.001, missing=None,
             n_estimators=1000, n_jobs=1, nthread=None, objective='reg:linear',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
# testando o modelo xgb usando Raiz do erro quadrático médio
xgb_pred=xgb_model.predict(X_test[cols])
rmse = np.sqrt(metrics.mean_squared_error(y_test['price'],xgb_pred))
print(rmse.round(2))

231.27

In [ ]:
xgb = pd.DataFrame(xgb_pred)
xgb=xgb.rename(index=str, columns={0:'xgb'})

In [ ]:
att = np.array(y_test)
pri  =  pd.DataFrame(att)
pri=pri.rename(index=str, columns={0:'Actual Values'})
pri

In [ ]:
# Tabela de prediçoes
xgb['KNN']=tknn
xgb['RL']=rl
xgb['Actual Values']=pri
xgb.round()

         xgb    KNN     RL  Actual Values
0      155.0  351.0  172.0             89
1      238.0  120.0  196.0             58
2      200.0   82.0  213.0            200
3      196.0  102.0  192.0             90
4      171.0   52.0  164.0            832
...      ...    ...    ...            ...
23457  182.0  466.0  224.0             75
23458  256.0  472.0  280.0            185
23459  198.0   88.0  169.0             60
23460  255.0  160.0  248.0            350
23461  259.0  445.0  270.0            125

[23462 rows x 4 columns]

In [ ]:
# # Predizendo precos com rl
capeTown_rl = model.predict(capeTown[cols])
capeTown_rl = capeTown_rl.sum()

mexicoCity_rl = model.predict(mexicoCity[cols])
mexicoCity_rl = mexicoCity_rl.sum()

istanbul_rl = model.predict(istanbul[cols])
istanbul_rl = istanbul_rl.sum()

hongKong_rl = model.predict(hongKong[cols])
hongKong_rl = hongKong_rl.sum()

rome_rl = model.predict(rome[cols])
rome_rl = rome_rl.sum()

sydney_rl = model.predict(Sydney[cols])
sydney_rl = sydney_rl.sum()

rio_rl = model.predict(rio[cols])
rio_rl = rio_rl.sum()

bangkok_rl = model.predict(bangkok[cols])
bangkok_rl = bangkok_rl.sum()

newYork_rl = model.predict(newYork[cols])
newYork_rl = newYork_rl.sum()

paris_rl = model.predict(paris[cols])
paris_rl = paris_rl.sum()

In [ ]:
# # Predizendo precos com knn
capeTown_knn = knn.predict(capeTown[cols])
capeTown_knn = capeTown_knn.sum()

mexicoCity_knn = knn.predict(mexicoCity[cols])
mexicoCity_knn = mexicoCity_knn.sum()

istanbul_knn = knn.predict(istanbul[cols])
istanbul_knn = istanbul_knn.sum()

hongKong_knn = knn.predict(hongKong[cols])
hongKong_knn = hongKong_knn.sum()

rome_knn = knn.predict(rome[cols])
rome_knn = rome_knn.sum()

sydney_knn = knn.predict(Sydney[cols])
sydney_knn = sydney_knn.sum()

rio_knn = knn.predict(rio[cols])
rio_knn = rio_knn.sum()

bangkok_knn = knn.predict(bangkok[cols])
bangkok_knn = bangkok_knn.sum()

newYork_knn = knn.predict(newYork[cols])
newYork_knn = newYork_knn.sum()

paris_knn = knn.predict(paris[cols])
paris_knn = paris_knn.sum()

In [ ]:
# Predizendo precos com xgb
capeTown_xgb = xgb_model.predict(capeTown[cols])
capeTown_xgb = capeTown_xgb.sum()

mexicoCity_xgb = xgb_model.predict(mexicoCity[cols])
mexicoCity_xgb = mexicoCity_xgb.sum()

istanbul_xgb = xgb_model.predict(istanbul[cols])
istanbul_xgb = istanbul_xgb.sum()

hongKong_xgb = xgb_model.predict(hongKong[cols])
hongKong_xgb = hongKong_xgb.sum()

rome_xgb = xgb_model.predict(rome[cols])
rome_xgb = rome_xgb.sum()

sydney_xgb = xgb_model.predict(Sydney[cols])
sydney_xgb = sydney_xgb.sum()

rio_xgb = xgb_model.predict(rio[cols])
rio_xgb = rio_xgb.sum()

bangkok_xgb = xgb_model.predict(bangkok[cols])
bangkok_xgb = bangkok_xgb.sum()

newYork_xgb = xgb_model.predict(newYork[cols])
newYork_xgb = newYork_xgb.sum()

paris_xgb = xgb_model.predict(paris[cols])
paris_xgb = paris_xgb.sum()

In [ ]:
# Fazendo o comite com base nos resultados
tot_cape = 0
tot_mexico = 0
tot_ista = 0
tot_hong = 0
tot_rome = 0
tot_syd = 0
tot_rio = 0
tot_bang = 0
tot_new = 0
tot_paris = 0

# rl
if ((capeTown_rl <= mexicoCity_rl)and(capeTown_rl <= istanbul_rl)and(capeTown_rl <= hongKong_rl)and(capeTown_rl <= rome_rl)and (capeTown_rl <= sydney_rl)and(capeTown_rl <= rio_rl)and(capeTown_rl <= bangkok_rl)and(capeTown_rl <= newYork_rl)and(capeTown_rl <= paris_rl)):
  tot_cape = tot_cape + 1
elif ((mexicoCity_rl <= capeTown_rl)and(mexicoCity_rl <= istanbul_rl)and(mexicoCity_rl <= hongKong_rl)and(mexicoCity_rl <= rome_rl)and (mexicoCity_rl <= sydney_rl)and(mexicoCity_rl <= rio_rl)and(mexicoCity_rl <= bangkok_rl)and(mexicoCity_rl <= newYork_rl)and(mexicoCity_rl <= paris_rl)):
   tot_mexico = tot_mexico + 1
elif ((istanbul_rl <= capeTown_rl)and(istanbul_rl <= mexicoCity_rl)and(istanbul_rl <= hongKong_rl)and(istanbul_rl <= rome_rl)and (istanbul_rl <= sydney_rl)and(istanbul_rl <= rio_rl)and(istanbul_rl <= bangkok_rl)and(istanbul_rl <= newYork_rl)and(istanbul_rl <= paris_rl)):
  tot_ista =tot_ista + 1
elif ((hongKong_rl <= capeTown_rl)and(hongKong_rl <= mexicoCity_rl)and(hongKong_rl <= istanbul_rl)and(hongKong_rl <= rome_rl)and (hongKong_rl <= sydney_rl)and(hongKong_rl <= rio_rl)and(hongKong_rl <= bangkok_rl)and(hongKong_rl <= newYork_rl)and(hongKong_rl <= paris_rl)):
  tot_hong = tot_hong +1
elif ((rome_rl <= capeTown_rl)and(rome_rl <= mexicoCity_rl)and(rome_rl <= istanbul_rl)and(rome_rl <= hongKong_rl)and (rome_rl <= sydney_rl)and(rome_rl <= rio_rl)and(rome_rl <= bangkok_rl)and(rome_rl <= newYork_rl)and(rome_rl <= paris_rl)):
  tot_rome = tot_rome + 1
elif ((sydney_rl <= capeTown_rl)and(sydney_rl <= mexicoCity_rl)and(sydney_rl <= istanbul_rl)and(sydney_rl <= hongKong_rl)and (sydney_rl <= rome_rl)and(sydney_rl <= rio_rl)and(sydney_rl <= bangkok_rl)and(sydney_rl <= newYork_rl)and(sydney_rl <= paris_rl)):
  tot_syd = tot_syd + 1
elif ((rio_rl <= capeTown_rl)and(rio_rl <= mexicoCity_rl)and(rio_rl <= istanbul_rl)and(rio_rl <= hongKong_rl)and (rio_rl <= rome_rl)and(rio_rl <= sydney_rl)and(rio_rl <= bangkok_rl)and(rio_rl <= newYork_rl)and(rio_rl <= paris_rl)):
  tot_rio + tot_rio + 1
elif ((bangkok_rl <= capeTown_rl)and(bangkok_rl <= mexicoCity_rl)and(bangkok_rl <= istanbul_rl)and(bangkok_rl <= hongKong_rl)and (bangkok_rl <= rome_rl)and(bangkok_rl <= sydney_rl)and(bangkok_rl <= rio_rl)and(bangkok_rl <= newYork_rl)and(bangkok_rl <= paris_rl)):
  tot_bang = tot_bang + 1
elif ((newYork_rl <= capeTown_rl)and(newYork_rl <= mexicoCity_rl)and(newYork_rl <= istanbul_rl)and(newYork_rl <= hongKong_rl)and (newYork_rl <= rome_rl)and(newYork_rl <= sydney_rl)and(newYork_rl <= rio_rl)and(newYork_rl <= bangkok_rl)and(newYork_rl <= paris_rl)):
  tot_new = tot_new + 1
elif ((paris_rl <= capeTown_rl)and(paris_rl <= mexicoCity_rl)and(paris_rl <= istanbul_rl)and(paris_rl <= hongKong_rl)and (paris_rl <= rome_rl)and(paris_rl <= sydney_rl)and(paris_rl <= rio_rl)and(paris_rl <= bangkok_rl)and(paris_rl <= newYork_rl)):
  tot_paris = tot_paris + 1

In [ ]:
# knn
if ((capeTown_knn <= mexicoCity_knn)and(capeTown_knn <= istanbul_knn)and(capeTown_knn <= hongKong_knn)and(capeTown_knn <= rome_knn)and (capeTown_knn <= sydney_knn)and(capeTown_knn <= rio_knn)and(capeTown_knn <= bangkok_knn)and(capeTown_knn <= newYork_knn)and(capeTown_knn <= paris_knn)):
  tot_cape = tot_cape + 1
elif ((mexicoCity_knn <= capeTown_knn)and(mexicoCity_knn <= istanbul_knn)and(mexicoCity_knn <= hongKong_knn)and(mexicoCity_knn <= rome_knn)and (mexicoCity_knn <= sydney_knn)and(mexicoCity_knn <= rio_knn)and(mexicoCity_knn <= bangkok_knn)and(mexicoCity_knn <= newYork_knn)and(mexicoCity_knn <= paris_knn)):
   tot_mexico = tot_mexico + 1
elif ((istanbul_knn <= capeTown_knn)and(istanbul_knn <= mexicoCity_knn)and(istanbul_knn <= hongKong_knn)and(istanbul_knn <= rome_knn)and (istanbul_knn <= sydney_knn)and(istanbul_knn <= rio_knn)and(istanbul_knn <= bangkok_knn)and(istanbul_knn <= newYork_knn)and(istanbul_knn <= paris_knn)):
  tot_ista =tot_ista + 1
elif ((hongKong_knn <= capeTown_knn)and(hongKong_knn <= mexicoCity_knn)and(hongKong_knn <= istanbul_knn)and(hongKong_knn <= rome_knn)and (hongKong_knn <= sydney_knn)and(hongKong_knn <= rio_knn)and(hongKong_knn <= bangkok_knn)and(hongKong_knn <= newYork_knn)and(hongKong_knn <= paris_knn)):
  tot_hong = tot_hong +1
elif ((rome_knn <= capeTown_knn)and(rome_knn <= mexicoCity_knn)and(rome_knn <= istanbul_knn)and(rome_knn <= hongKong_knn)and (rome_knn <= sydney_knn)and(rome_knn <= rio_knn)and(rome_knn <= bangkok_knn)and(rome_knn <= newYork_knn)and(rome_knn <= paris_knn)):
  tot_rome = tot_rome + 1
elif ((sydney_knn <= capeTown_knn)and(sydney_knn <= mexicoCity_knn)and(sydney_knn <= istanbul_knn)and(sydney_knn <= hongKong_knn)and (sydney_knn <= rome_knn)and(sydney_knn <= rio_knn)and(sydney_knn <= bangkok_knn)and(sydney_knn <= newYork_knn)and(sydney_knn <= paris_knn)):
  tot_syd = tot_syd + 1
elif ((rio_knn <= capeTown_knn)and(rio_knn <= mexicoCity_knn)and(rio_knn <= istanbul_knn)and(rio_knn <= hongKong_knn)and (rio_knn <= rome_knn)and(rio_knn <= sydney_knn)and(rio_knn <= bangkok_knn)and(rio_knn <= newYork_knn)and(rio_knn <= paris_knn)):
  tot_rio + tot_rio + 1
elif ((bangkok_knn <= capeTown_knn)and(bangkok_knn <= mexicoCity_knn)and(bangkok_knn <= istanbul_knn)and(bangkok_knn <= hongKong_knn)and (bangkok_knn <= rome_knn)and(bangkok_knn <= sydney_knn)and(bangkok_knn <= rio_knn)and(bangkok_knn <= newYork_knn)and(bangkok_knn <= paris_knn)):
  tot_bang = tot_bang + 1
elif ((newYork_knn <= capeTown_knn)and(newYork_knn <= mexicoCity_knn)and(newYork_knn <= istanbul_knn)and(newYork_knn <= hongKong_knn)and (newYork_knn <= rome_knn)and(newYork_knn <= sydney_knn)and(newYork_knn <= rio_knn)and(newYork_knn <= bangkok_knn)and(newYork_knn <= paris_knn)):
  tot_new = tot_new + 1
elif ((paris_knn <= capeTown_knn)and(paris_knn <= mexicoCity_knn)and(paris_knn <= istanbul_knn)and(paris_knn <= hongKong_knn)and (paris_knn <= rome_knn)and(paris_knn <= sydney_knn)and(paris_knn <= rio_knn)and(paris_knn <= bangkok_knn)and(paris_knn <= newYork_knn)):
  tot_paris = tot_paris + 1

In [ ]:
# xgb
if ((capeTown_xgb <= mexicoCity_xgb)and(capeTown_xgb <= istanbul_xgb)and(capeTown_xgb <= hongKong_xgb)and(capeTown_xgb <= rome_xgb)and (capeTown_xgb <= sydney_xgb)and(capeTown_xgb <= rio_xgb)and(capeTown_xgb <= bangkok_xgb)and(capeTown_xgb <= newYork_xgb)and(capeTown_xgb <= paris_xgb)):
  tot_cape = tot_cape + 1
elif ((mexicoCity_xgb <= capeTown_xgb)and(mexicoCity_xgb <= istanbul_xgb)and(mexicoCity_xgb <= hongKong_xgb)and(mexicoCity_xgb <= rome_xgb)and (mexicoCity_xgb <= sydney_xgb)and(mexicoCity_xgb <= rio_xgb)and(mexicoCity_xgb <= bangkok_xgb)and(mexicoCity_xgb <= newYork_xgb)and(mexicoCity_xgb <= paris_xgb)):
   tot_mexico = tot_mexico + 1
elif ((istanbul_xgb <= capeTown_xgb)and(istanbul_xgb <= mexicoCity_xgb)and(istanbul_xgb <= hongKong_xgb)and(istanbul_xgb <= rome_xgb)and (istanbul_xgb <= sydney_xgb)and(istanbul_xgb <= rio_xgb)and(istanbul_xgb <= bangkok_xgb)and(istanbul_xgb <= newYork_xgb)and(istanbul_xgb <= paris_xgb)):
  tot_ista =tot_ista + 1
elif ((hongKong_xgb <= capeTown_xgb)and(hongKong_xgb <= mexicoCity_xgb)and(hongKong_xgb <= istanbul_xgb)and(hongKong_xgb <= rome_xgb)and (hongKong_xgb <= sydney_xgb)and(hongKong_xgb <= rio_xgb)and(hongKong_xgb <= bangkok_xgb)and(hongKong_xgb <= newYork_xgb)and(hongKong_xgb <= paris_xgb)):
  tot_hong = tot_hong +1
elif ((rome_xgb <= capeTown_xgb)and(rome_xgb <= mexicoCity_xgb)and(rome_xgb <= istanbul_xgb)and(rome_xgb <= hongKong_xgb)and (rome_xgb <= sydney_xgb)and(rome_xgb <= rio_xgb)and(rome_xgb <= bangkok_xgb)and(rome_xgb <= newYork_xgb)and(rome_xgb <= paris_xgb)):
  tot_rome = tot_rome + 1
elif ((sydney_xgb <= capeTown_xgb)and(sydney_xgb <= mexicoCity_xgb)and(sydney_xgb <= istanbul_xgb)and(sydney_xgb <= hongKong_xgb)and (sydney_xgb <= rome_xgb)and(sydney_xgb <= rio_xgb)and(sydney_xgb <= bangkok_xgb)and(sydney_xgb <= newYork_xgb)and(sydney_xgb <= paris_xgb)):
  tot_syd = tot_syd + 1
elif ((rio_xgb <= capeTown_xgb)and(rio_xgb <= mexicoCity_xgb)and(rio_xgb <= istanbul_xgb)and(rio_xgb <= hongKong_xgb)and (rio_xgb <= rome_xgb)and(rio_xgb <= sydney_xgb)and(rio_xgb <= bangkok_xgb)and(rio_xgb <= newYork_xgb)and(rio_xgb <= paris_xgb)):
  tot_rio + tot_rio + 1
elif ((bangkok_xgb <= capeTown_xgb)and(bangkok_xgb <= mexicoCity_xgb)and(bangkok_xgb <= istanbul_xgb)and(bangkok_xgb <= hongKong_xgb)and (bangkok_xgb <= rome_xgb)and(bangkok_xgb <= sydney_xgb)and(bangkok_xgb <= rio_xgb)and(bangkok_xgb <= newYork_xgb)and(bangkok_xgb <= paris_xgb)):
  tot_bang = tot_bang + 1
elif ((newYork_xgb <= capeTown_xgb)and(newYork_xgb <= mexicoCity_xgb)and(newYork_xgb <= istanbul_xgb)and(newYork_xgb <= hongKong_xgb)and (newYork_xgb <= rome_xgb)and(newYork_xgb <= sydney_xgb)and(newYork_xgb <= rio_xgb)and(newYork_xgb <= bangkok_xgb)and(newYork_xgb <= paris_xgb)):
  tot_new = tot_new + 1
elif ((paris_xgb <= capeTown_xgb)and(paris_xgb <= mexicoCity_xgb)and(paris_xgb <= istanbul_xgb)and(paris_xgb <= hongKong_xgb)and (paris_xgb <= rome_xgb)and(paris_xgb <= sydney_xgb)and(paris_xgb <= rio_xgb)and(paris_xgb <= bangkok_xgb)and(paris_xgb <= newYork_xgb)):
  tot_paris = tot_paris + 1

In [ ]:
if ((tot_cape > tot_mexico)and(tot_cape > tot_ista)and (tot_cape > tot_hong)and(tot_cape > tot_rome)and(tot_cape > tot_syd)and(tot_cape > tot_rio)and(tot_cape > tot_bang)and(tot_cape > tot_new)and(tot_cape > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é a cidade de Cape Town')
elif ((tot_mexico > tot_cape)and(tot_mexico > tot_ista)and (tot_mexico > tot_hong)and(tot_mexico > tot_rome)and(tot_mexico > tot_syd)and(tot_mexico > tot_rio)and(tot_mexico > tot_bang)and(tot_mexico > tot_new)and(tot_mexico > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é a cidade do Mexico')
elif ((tot_ista > tot_cape)and(tot_ista > tot_mexico)and (tot_ista > tot_hong)and(tot_ista > tot_rome)and(tot_ista > tot_syd)and(tot_ista > tot_rio)and(tot_ista > tot_bang)and(tot_ista > tot_new)and(tot_ista > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é a cidade de Istanbul')
elif ((tot_hong > tot_cape)and(tot_hong > tot_mexico)and (tot_hong > tot_ista)and(tot_hong > tot_rome)and(tot_hong > tot_syd)and(tot_hong > tot_rio)and(tot_hong > tot_bang)and(tot_hong > tot_new)and(tot_hong > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é Hong Kong')
elif ((tot_rome > tot_cape)and(tot_rome > tot_mexico)and (tot_rome > tot_ista)and(tot_rome > tot_hong)and(tot_rome > tot_syd)and(tot_rome > tot_rio)and(tot_rome > tot_bang)and(tot_rome > tot_new)and(tot_rome > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é Roma')
elif ((tot_syd > tot_cape)and(tot_syd > tot_mexico)and (tot_syd > tot_ista)and(tot_syd > tot_hong)and(tot_syd > tot_rome)and(tot_syd > tot_rio)and(tot_syd > tot_bang)and(tot_syd > tot_new)and(tot_syd > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é Sydney')
elif ((tot_rio > tot_cape)and(tot_rio > tot_mexico)and (tot_rio > tot_ista)and(tot_rio > tot_hong)and(tot_rio > tot_rome)and(tot_rio > tot_syd)and(tot_rio > tot_bang)and(tot_rio > tot_new)and(tot_rio > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é Rio de Janeiro')
elif ((tot_bang > tot_cape)and(tot_bang > tot_mexico)and (tot_bang > tot_ista)and(tot_bang > tot_hong)and(tot_bang > tot_rome)and(tot_bang > tot_syd)and(tot_bang > tot_rio)and(tot_bang > tot_new)and(tot_bang > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é Bangkok')
elif ((tot_new > tot_cape)and(tot_new > tot_mexico)and (tot_new > tot_ista)and(tot_new > tot_hong)and(tot_new > tot_rome)and(tot_new > tot_syd)and(tot_new > tot_rio)and(tot_new > tot_bang)and(tot_new > tot_paris)):
  print('O comitê acredita que o melhor custo benefio é Nova York')
elif ((tot_paris > tot_cape)and(tot_paris > tot_mexico)and (tot_paris > tot_ista)and(tot_paris > tot_hong)and(tot_paris > tot_rome)and(tot_paris > tot_syd)and(tot_paris > tot_rio)and(tot_paris > tot_bang)and(tot_paris > tot_new)):
  print('O comitê acredita que o melhor custo benefio é Paris')

O comitê acredita que o melhor custo benefio é Hong Kong