In [1]:
import pandas as pd
import numpy as np

In [2]:
#carreganndo os dados
filename = 'Listings.csv'
df1 = pd.read_csv(filename,encoding='ISO-8859-1')
df1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        listing_id  ... instant_bookable
0           281420  ...                f
1          3705183  ...                f
2          4082273  ...                f
3          4797344  ...                f
4          4823489  ...                f
...            ...  ...              ...
279707    38338635  ...                f
279708    38538692  ...                f
279709    38683356  ...                f
279710    39659000  ...                f
279711    40219504  ...                f

[279712 rows x 33 columns]

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279539 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  object
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 70.4+ MB

In [4]:
df1.shape

(279712, 33)

In [5]:
# Excluindo colunas que não usaremos na predição
df1.drop("host_has_profile_pic",axis=1,inplace=True)
df1.drop("latitude",axis=1,inplace=True)
df1.drop("longitude",axis=1,inplace=True)
df1.drop("host_id",axis=1,inplace=True)
df1.drop("host_since",axis=1,inplace=True)
df1.drop("host_location",axis=1,inplace=True)
df1.drop("listing_id",axis=1,inplace=True)
df1.drop("name",axis=1,inplace=True)
df1.drop("host_response_time",axis=1,inplace=True)
df1.drop("host_response_rate",axis=1,inplace=True)
df1.drop("host_acceptance_rate",axis=1,inplace=True)
df1.drop("district",axis=1,inplace=True)
df1.drop("review_scores_rating",axis=1,inplace=True)
df1.drop("review_scores_accuracy",axis=1,inplace=True)
df1.drop("review_scores_cleanliness",axis=1,inplace=True)
df1.drop("review_scores_checkin",axis=1,inplace=True)
df1.drop("review_scores_communication",axis=1,inplace=True)
df1.drop("review_scores_location",axis=1,inplace=True)
df1.drop("review_scores_value",axis=1,inplace=True)

In [6]:
df1.drop("amenities",axis=1,inplace=True)

In [7]:
df1.head()

  host_is_superhost  host_total_listings_count  ... maximum_nights instant_bookable
0                 f                        1.0  ...           1125                f
1                 f                        1.0  ...           1125                f
2                 f                        1.0  ...           1125                f
3                 f                        1.0  ...           1125                f
4                 f                        1.0  ...           1125                f

[5 rows x 13 columns]

In [8]:
# Exibindo os tipos de cada coluna
df1.dtypes

host_is_superhost             object
host_total_listings_count    float64
host_identity_verified        object
neighbourhood                 object
city                          object
property_type                 object
room_type                     object
accommodates                   int64
bedrooms                     float64
price                          int64
minimum_nights                 int64
maximum_nights                 int64
instant_bookable              object
dtype: object

In [9]:
# exibindo quantidade de valores nulos
df1.isna().sum()

host_is_superhost              165
host_total_listings_count      165
host_identity_verified         165
neighbourhood                    0
city                             0
property_type                    0
room_type                        0
accommodates                     0
bedrooms                     29435
price                            0
minimum_nights                   0
maximum_nights                   0
instant_bookable                 0
dtype: int64

In [10]:
# eliminando linhas duplicadas do DataFrame
df1.drop_duplicates(inplace=True)

In [11]:
df1.head()

  host_is_superhost  host_total_listings_count  ... maximum_nights instant_bookable
0                 f                        1.0  ...           1125                f
1                 f                        1.0  ...           1125                f
2                 f                        1.0  ...           1125                f
3                 f                        1.0  ...           1125                f
4                 f                        1.0  ...           1125                f

[5 rows x 13 columns]

In [12]:
# Excluindo colunas que não ulitilizaremos e mapeando valores do dataset
df1.drop(["property_type","neighbourhood"],axis=1,inplace=True)

In [13]:
df1["room_type"]=df1["room_type"].map({"Entire place":0,"Private room":1,"Hotel room":2,"Shared room":3})

In [14]:
df1["instant_bookable"]=df1["instant_bookable"].map({"t":0,"f":1})

In [15]:
df1["host_identity_v0rified"]=df1["host_identity_verified"].map({"t":0,"f":1})

In [16]:
df1["host_is_superhost"]=df1["host_is_superhost"].map({"f":0,"t":1})

In [17]:
df1.drop("host_identity_verified",axis=1,inplace=True)

In [18]:
df1.head()

   host_is_superhost  ...  host_identity_v0rified
0                0.0  ...                     1.0
1                0.0  ...                     0.0
2                0.0  ...                     1.0
3                0.0  ...                     0.0
4                0.0  ...                     1.0

[5 rows x 11 columns]

In [19]:
# Excluindo valores nulos do nosso dataset
df1.dropna(inplace = True)

In [20]:
# exibindo quantidade de valores nulos na tabela novamente
df1.isna().sum()

host_is_superhost            0
host_total_listings_count    0
city                         0
room_type                    0
accommodates                 0
bedrooms                     0
price                        0
minimum_nights               0
maximum_nights               0
instant_bookable             0
host_identity_v0rified       0
dtype: int64

In [21]:
df1.head()

   host_is_superhost  ...  host_identity_v0rified
0                0.0  ...                     1.0
1                0.0  ...                     0.0
2                0.0  ...                     1.0
3                0.0  ...                     0.0
4                0.0  ...                     1.0

[5 rows x 11 columns]

In [22]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)
IQR=Q3-Q1
df_clean=df1[~((df1<(Q1-1.5*IQR))|(df1>(Q3+1.5*IQR))).any(axis=1)]

In [23]:
# Exibindo a quantidade de linhas e colunas do dataset
df_clean.shape

(117308, 11)

In [24]:
df_clean.columns

Index(['host_is_superhost', 'host_total_listings_count', 'city', 'room_type',
       'accommodates', 'bedrooms', 'price', 'minimum_nights', 'maximum_nights',
       'instant_bookable', 'host_identity_v0rified'],
      dtype='object')

In [25]:
df_clean.head()

   host_is_superhost  ...  host_identity_v0rified
0                0.0  ...                     1.0
1                0.0  ...                     0.0
2                0.0  ...                     1.0
3                0.0  ...                     0.0
4                0.0  ...                     1.0

[5 rows x 11 columns]

In [26]:
X=df_clean
y=pd.DataFrame(df_clean, columns=["price"])

In [27]:
#Dividindo os dados em conjuntos de treinamento e teste.
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

In [28]:
# Dividindo o nosso Dataset por cidade
Sydney = X_test[X_test["city"]=="Sydney"]
rio = X_test[X_test["city"]=="Rio de Janeiro"]
bangkok = X_test[X_test["city"]=="Bangkok"]
newYork = X_test[X_test["city"]=="New York"]
paris = X_test[X_test["city"]=="Paris"]
capeTown = X_test[X_test["city"]=="Cape Town"]
mexicoCity = X_test[X_test["city"]=="Mexico City"]
istanbul = X_test[X_test["city"]=="Istanbul"]
hongKong = X_test[X_test["city"]=="Hong Kong"]
rome = X_test[X_test["city"]=="Rome"]

In [29]:
# Regressão linear é um algoritmo supervisionado de machine learning usado para estimar o valor de algo baseado em uma série de outros dados históricos, portanto olhando para o passado você pode “prever” o futuro.
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [30]:
#Treinando nosso primeiro modelo com o metodo de Regressao Linear
cols = ['host_is_superhost','host_total_listings_count','room_type','accommodates','bedrooms','minimum_nights','maximum_nights','instant_bookable','host_identity_v0rified']
# model.fit(X_train[cols],y_train['price'])
model.fit(X_train[cols],y_train)
rl_pred=model.predict(X_test[cols])

In [31]:
from sklearn import metrics

In [32]:
# testando o modelo RL usando Raiz do erro quadrático médio
rmse = np.sqrt(metrics.mean_squared_error(y_test['price'],rl_pred))
print(rmse.round(2))

235.71

In [79]:
# R-Quadrado
metrics.r2_score(y_test['price'],rl_pred)

0.05914099421332475

In [33]:
rl = pd.DataFrame(rl_pred)
rl=rl.rename(index=str, columns={0:'rl'})
rl.round(2)

           rl
0      171.61
1      195.83
2      213.21
3      192.31
4      163.80
...       ...
23457  224.47
23458  279.85
23459  169.02
23460  247.98
23461  269.58

[23462 rows x 1 columns]

In [55]:
#Treinando nosso segundo modelo com o metodo de Árvore de Decisao
# A árvore de Decisão é um tipo de algoritmo de aprendizagem de máquina supervisionado que se baseia na ideia de divisão dos dados em grupos homogêneos, podem ser utilizadas em um cenário de classificação ou regressão.
from sklearn.tree import  DecisionTreeRegressor
DTree = DecisionTreeRegressor(max_depth=3)
DTree.fit(X_train[cols],y_train)
DTree_pred=DTree.predict(X_test[cols])

In [57]:
rmse = np.sqrt(metrics.mean_squared_error(y_test['price'],DTree_pred))
print(rmse.round(2))

236.53

In [81]:
# R-Quadrado
metrics.r2_score(y_test['price'],DTree_pred)

0.052561886142595604

In [58]:
tree  =  pd.DataFrame(DTree_pred)
tree=tree.rename(index=str, columns={0:'Predicted Values'})
tree

       Predicted Values
0            172.006668
1            268.967947
2            231.272953
3            172.006668
4            172.006668
...                 ...
23457        283.284755
23458        268.967947
23459        172.006668
23460        225.671632
23461        268.967947

[23462 rows x 1 columns]

In [37]:
#Treinando nosso Terceiro modelo com o metodo xgboost, baseado em árvore de decisão e que utiliza uma estrutura de Gradient boosting.
import xgboost as xgb
xgb_model = xgb.XGBRegressor(
    learning_rate=0.05,
    max_depth=3,
    min_child_weight=0.001,
    n_estimators=1000)
xgb_model.fit(X_train[cols], y_train)

[23:49:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=0.001, missing=None,
             n_estimators=1000, n_jobs=1, nthread=None, objective='reg:linear',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [38]:
# testando o modelo xgb usando Raiz do erro quadrático médio
xgb_pred=xgb_model.predict(X_test[cols])
rmse = np.sqrt(metrics.mean_squared_error(y_test['price'],xgb_pred))
print(rmse.round(2))

231.27

In [80]:
# R-Quadrado
metrics.r2_score(y_test['price'],xgb_pred)

0.0942503135325784

In [39]:
xgb = pd.DataFrame(xgb_pred)
xgb=xgb.rename(index=str, columns={0:'xgb'})

In [40]:
att = np.array(y_test)
pri  =  pd.DataFrame(att)
pri=pri.rename(index=str, columns={0:'Actual Values'})
pri

       Actual Values
0                 89
1                 58
2                200
3                 90
4                832
...              ...
23457             75
23458            185
23459             60
23460            350
23461            125

[23462 rows x 1 columns]

In [69]:
# Tabela de prediçoes
xgb['Tree']=tree
xgb['RL']=rl
xgb['Actual Values']=pri
xgb.round()

         xgb     RL  Actual Values   Tree
0      155.0  172.0             89  172.0
1      238.0  196.0             58  269.0
2      200.0  213.0            200  231.0
3      196.0  192.0             90  172.0
4      171.0  164.0            832  172.0
...      ...    ...            ...    ...
23457  182.0  224.0             75  283.0
23458  256.0  280.0            185  269.0
23459  198.0  169.0             60  172.0
23460  255.0  248.0            350  226.0
23461  259.0  270.0            125  269.0

[23462 rows x 4 columns]

In [62]:
# Predizendo precos com rl
capeTown_rl = model.predict(capeTown[cols])
capeTown_rl = np.mean(capeTown_rl)

mexicoCity_rl = model.predict(mexicoCity[cols])
mexicoCity_rl = np.mean(mexicoCity_rl)

istanbul_rl = model.predict(istanbul[cols])
istanbul_rl = np.mean(istanbul_rl)

hongKong_rl = model.predict(hongKong[cols])
hongKong_rl = np.mean(hongKong_rl)

rome_rl = model.predict(rome[cols])
rome_rl = np.mean(rome_rl)

sydney_rl = model.predict(Sydney[cols])
sydney_rl = np.mean(sydney_rl)

rio_rl = model.predict(rio[cols])
rio_rl = np.mean(rio_rl)

bangkok_rl = model.predict(bangkok[cols])
bangkok_rl = np.mean(bangkok_rl)

newYork_rl = model.predict(newYork[cols])
newYork_rl = np.mean(newYork_rl)

paris_rl = model.predict(paris[cols])
paris_rl = np.mean(paris_rl)

In [63]:
# Predizendo precos com DTree
capeTown_tree = DTree.predict(capeTown[cols])
capeTown_tree = np.mean(capeTown_tree)

mexicoCity_tree = DTree.predict(mexicoCity[cols])
mexicoCity_tree = np.mean(mexicoCity_tree)

istanbul_tree = DTree.predict(istanbul[cols])
istanbul_tree = np.mean(istanbul_tree)

hongKong_tree = DTree.predict(hongKong[cols])
hongKong_tree = np.mean(hongKong_tree)

rome_tree = DTree.predict(rome[cols])
rome_tree = np.mean(rome_tree)

sydney_tree = DTree.predict(Sydney[cols])
sydney_tree = np.mean(sydney_tree)

rio_tree = DTree.predict(rio[cols])
rio_tree = np.mean(rio_tree)

bangkok_tree = DTree.predict(bangkok[cols])
bangkok_tree = np.mean(bangkok_tree)

newYork_tree = DTree.predict(newYork[cols])
newYork_tree = np.mean(newYork_tree)

paris_tree = DTree.predict(paris[cols])
paris_tree = np.mean(paris_tree)

In [64]:
# Predizendo precos com xgb
capeTown_xgb = xgb_model.predict(capeTown[cols])
capeTown_xgb = np.mean(capeTown_xgb)

mexicoCity_xgb = xgb_model.predict(mexicoCity[cols])
mexicoCity_xgb = np.mean(mexicoCity_xgb)

istanbul_xgb = xgb_model.predict(istanbul[cols])
istanbul_xgb = np.mean(istanbul_xgb)

hongKong_xgb = xgb_model.predict(hongKong[cols])
hongKong_xgb = np.mean(hongKong_xgb)

rome_xgb = xgb_model.predict(rome[cols])
rome_xgb = np.mean(rome_xgb)

sydney_xgb = xgb_model.predict(Sydney[cols])
sydney_xgb = np.mean(sydney_xgb)

rio_xgb = xgb_model.predict(rio[cols])
rio_xgb = np.mean(rio_xgb)

bangkok_xgb = xgb_model.predict(bangkok[cols])
bangkok_xgb = np.mean(bangkok_xgb)

newYork_xgb = xgb_model.predict(newYork[cols])
newYork_xgb = np.mean(newYork_xgb)

paris_xgb = xgb_model.predict(paris[cols])
paris_xgb = np.mean(paris_xgb)

In [73]:
# Fazendo o comite com base nos resultados
tot_cape = 0
tot_mexico = 0
tot_ista = 0
tot_hong = 0
tot_rome = 0
tot_syd = 0
tot_rio = 0
tot_bang = 0
tot_new = 0
tot_paris = 0



# rl
if ((capeTown_rl <= mexicoCity_rl)and(capeTown_rl <= istanbul_rl)and(capeTown_rl <= hongKong_rl)and(capeTown_rl <= rome_rl)and (capeTown_rl <= sydney_rl)and(capeTown_rl <= rio_rl)and(capeTown_rl <= bangkok_rl)and(capeTown_rl <= newYork_rl)and(capeTown_rl <= paris_rl)):
  tot_cape = tot_cape + 1
  print("O primeiro método prediz que cape Town tem o melhor custo beneficio com uma média de preço de R$ " + str(capeTown_rl.round()))
elif ((mexicoCity_rl <= capeTown_rl)and(mexicoCity_rl <= istanbul_rl)and(mexicoCity_rl <= hongKong_rl)and(mexicoCity_rl <= rome_rl)and (mexicoCity_rl <= sydney_rl)and(mexicoCity_rl <= rio_rl)and(mexicoCity_rl <= bangkok_rl)and(mexicoCity_rl <= newYork_rl)and(mexicoCity_rl <= paris_rl)):
   tot_mexico = tot_mexico + 1
   print("O primeiro método prediz que a Cidade do Mexico tem o melhor custo beneficio com uma média de preço de R$ " + str(mexicoCity_rl.round()))
elif ((istanbul_rl <= capeTown_rl)and(istanbul_rl <= mexicoCity_rl)and(istanbul_rl <= hongKong_rl)and(istanbul_rl <= rome_rl)and (istanbul_rl <= sydney_rl)and(istanbul_rl <= rio_rl)and(istanbul_rl <= bangkok_rl)and(istanbul_rl <= newYork_rl)and(istanbul_rl <= paris_rl)):
  tot_ista =tot_ista + 1
  print("O primeiro método prediz que istanbul tem o melhor custo beneficio com uma média de preço de R$ " + str(istanbul_rl.round()))
elif ((hongKong_rl <= capeTown_rl)and(hongKong_rl <= mexicoCity_rl)and(hongKong_rl <= istanbul_rl)and(hongKong_rl <= rome_rl)and (hongKong_rl <= sydney_rl)and(hongKong_rl <= rio_rl)and(hongKong_rl <= bangkok_rl)and(hongKong_rl <= newYork_rl)and(hongKong_rl <= paris_rl)):
  tot_hong = tot_hong +1
  print("O primeiro método prediz que hong Kong tem o melhor custo beneficio com uma média de preço de R$ " + str(hongKong_rl.round()))
elif ((rome_rl <= capeTown_rl)and(rome_rl <= mexicoCity_rl)and(rome_rl <= istanbul_rl)and(rome_rl <= hongKong_rl)and (rome_rl <= sydney_rl)and(rome_rl <= rio_rl)and(rome_rl <= bangkok_rl)and(rome_rl <= newYork_rl)and(rome_rl <= paris_rl)):
  tot_rome = tot_rome + 1
  print("O primeiro método prediz que roma tem o melhor custo beneficio com uma média de preço de R$ " + str(rome_rl.round()))
elif ((sydney_rl <= capeTown_rl)and(sydney_rl <= mexicoCity_rl)and(sydney_rl <= istanbul_rl)and(sydney_rl <= hongKong_rl)and (sydney_rl <= rome_rl)and(sydney_rl <= rio_rl)and(sydney_rl <= bangkok_rl)and(sydney_rl <= newYork_rl)and(sydney_rl <= paris_rl)):
  tot_syd = tot_syd + 1
  print("O primeiro método prediz que sydney tem o melhor custo beneficio com uma média de preço de R$ " + str(sydney_rl.round()))
elif ((rio_rl <= capeTown_rl)and(rio_rl <= mexicoCity_rl)and(rio_rl <= istanbul_rl)and(rio_rl <= hongKong_rl)and (rio_rl <= rome_rl)and(rio_rl <= sydney_rl)and(rio_rl <= bangkok_rl)and(rio_rl <= newYork_rl)and(rio_rl <= paris_rl)):
  tot_rio + tot_rio + 1
  print("O primeiro método prediz que rio de janeiro tem o melhor custo beneficio com uma média de preço de R$ " + str(rio_rl.round()))
elif ((bangkok_rl <= capeTown_rl)and(bangkok_rl <= mexicoCity_rl)and(bangkok_rl <= istanbul_rl)and(bangkok_rl <= hongKong_rl)and (bangkok_rl <= rome_rl)and(bangkok_rl <= sydney_rl)and(bangkok_rl <= rio_rl)and(bangkok_rl <= newYork_rl)and(bangkok_rl <= paris_rl)):
  tot_bang = tot_bang + 1
  print("O primeiro método prediz que bangkok tem o melhor custo beneficio com uma média de preço de R$ " + str(bangkok_rl.round())))
elif ((newYork_rl <= capeTown_rl)and(newYork_rl <= mexicoCity_rl)and(newYork_rl <= istanbul_rl)and(newYork_rl <= hongKong_rl)and (newYork_rl <= rome_rl)and(newYork_rl <= sydney_rl)and(newYork_rl <= rio_rl)and(newYork_rl <= bangkok_rl)and(newYork_rl <= paris_rl)):
  tot_new = tot_new + 1
  print("O primeiro método prediz que New York tem o melhor custo beneficio com uma média de preço de R$ " + str(newYork_rl.round()))
elif ((paris_rl <= capeTown_rl)and(paris_rl <= mexicoCity_rl)and(paris_rl <= istanbul_rl)and(paris_rl <= hongKong_rl)and (paris_rl <= rome_rl)and(paris_rl <= sydney_rl)and(paris_rl <= rio_rl)and(paris_rl <= bangkok_rl)and(paris_rl <= newYork_rl)):
  tot_paris = tot_paris + 1
  print("O primeiro método prediz que Paris tem o melhor custo beneficio com uma média de preço de R$ " + str(paris_rl.round()))

O primeiro método prediz que New York tem o melhor custo beneficio com uma média de preço de R$213.0

In [76]:
# DTree
if ((capeTown_tree <= mexicoCity_tree)and(capeTown_tree <= istanbul_tree)and(capeTown_tree <= hongKong_tree)and(capeTown_tree <= rome_tree)and (capeTown_tree <= sydney_tree)and(capeTown_tree <= rio_tree)and(capeTown_tree <= bangkok_tree)and(capeTown_tree <= newYork_tree)and(capeTown_tree <= paris_tree)):
  tot_cape = tot_cape + 1
  print("O segundo método prediz que cape Town tem o melhor custo beneficio com uma média de preço de R$ " + str(capeTown_tree.round()))
elif ((mexicoCity_tree <= capeTown_tree)and(mexicoCity_tree <= istanbul_tree)and(mexicoCity_tree <= hongKong_tree)and(mexicoCity_tree <= rome_tree)and (mexicoCity_tree <= sydney_tree)and(mexicoCity_tree <= rio_tree)and(mexicoCity_tree <= bangkok_tree)and(mexicoCity_tree <= newYork_tree)and(mexicoCity_tree <= paris_tree)):
   tot_mexico = tot_mexico + 1
   print("O segundo método prediz que a Cidade do Mexico tem o melhor custo beneficio com uma média de preço de R$ " + str(mexicoCity_tree.round()))
elif ((istanbul_tree <= capeTown_tree)and(istanbul_tree <= mexicoCity_tree)and(istanbul_tree <= hongKong_tree)and(istanbul_tree <= rome_tree)and (istanbul_tree <= sydney_tree)and(istanbul_tree <= rio_tree)and(istanbul_tree <= bangkok_tree)and(istanbul_tree <= newYork_tree)and(istanbul_tree <= paris_tree)):
  tot_ista =tot_ista + 1
  print("O segundo método prediz que istanbul tem o melhor custo beneficio com uma média de preço de R$ " + str(istanbul_tree.round()))
elif ((hongKong_tree <= capeTown_tree)and(hongKong_tree <= mexicoCity_tree)and(hongKong_tree <= istanbul_tree)and(hongKong_tree <= rome_tree)and (hongKong_tree <= sydney_tree)and(hongKong_tree <= rio_tree)and(hongKong_tree <= bangkok_tree)and(hongKong_tree <= newYork_tree)and(hongKong_tree <= paris_tree)):
  tot_hong = tot_hong +1
  print("O segundo método prediz que hong Kong tem o melhor custo beneficio com uma média de preço de R$ " + str(hongKong_tree.round()))
elif ((rome_tree <= capeTown_tree)and(rome_tree <= mexicoCity_tree)and(rome_tree <= istanbul_tree)and(rome_tree <= hongKong_tree)and (rome_tree <= sydney_tree)and(rome_tree <= rio_tree)and(rome_tree <= bangkok_tree)and(rome_tree <= newYork_tree)and(rome_tree <= paris_tree)):
  tot_rome = tot_rome + 1
  print("O segundo método prediz que roma tem o melhor custo beneficio com uma média de preço de R$ " + str(rome_tree.round()))
elif ((sydney_tree <= capeTown_tree)and(sydney_tree <= mexicoCity_tree)and(sydney_tree <= istanbul_tree)and(sydney_tree <= hongKong_tree)and (sydney_tree <= rome_tree)and(sydney_tree <= rio_tree)and(sydney_tree <= bangkok_tree)and(sydney_tree <= newYork_tree)and(sydney_tree <= paris_tree)):
  tot_syd = tot_syd + 1
  print("O segundo método prediz que sydney tem o melhor custo beneficio com uma média de preço de R$ " + str(sydney_tree.round()))
elif ((rio_tree <= capeTown_tree)and(rio_tree <= mexicoCity_tree)and(rio_tree <= istanbul_tree)and(rio_tree <= hongKong_tree)and (rio_tree <= rome_tree)and(rio_tree <= sydney_tree)and(rio_tree <= bangkok_tree)and(rio_tree <= newYork_tree)and(rio_tree <= paris_tree)):
  tot_rio + tot_rio + 1
  print("O segundo método prediz que rio de janeiro tem o melhor custo beneficio com uma média de preço de R$ " + str(rio_tree.round()))
elif ((bangkok_tree <= capeTown_tree)and(bangkok_tree <= mexicoCity_tree)and(bangkok_tree <= istanbul_tree)and(bangkok_tree <= hongKong_tree)and (bangkok_tree <= rome_tree)and(bangkok_tree <= sydney_tree)and(bangkok_tree <= rio_tree)and(bangkok_tree <= newYork_tree)and(bangkok_tree <= paris_tree)):
  tot_bang = tot_bang + 1
  print("O segundo método prediz que bangkok tem o melhor custo beneficio com uma média de preço de R$ " + str(bangkok_tree.round()))
elif ((newYork_tree <= capeTown_tree)and(newYork_tree <= mexicoCity_tree)and(newYork_tree <= istanbul_tree)and(newYork_tree <= hongKong_tree)and (newYork_tree <= rome_tree)and(newYork_tree <= sydney_tree)and(newYork_tree <= rio_tree)and(newYork_tree <= bangkok_tree)and(newYork_tree <= paris_tree)):
  tot_new = tot_new + 1
  print("O segundo método prediz que New York tem o melhor custo beneficio com uma média de preço de R$ " + str(newYork_tree.round()))
elif ((paris_tree <= capeTown_tree)and(paris_tree <= mexicoCity_tree)and(paris_tree <= istanbul_tree)and(paris_tree <= hongKong_tree)and (paris_tree <= rome_tree)and(paris_tree <= sydney_tree)and(paris_tree <= rio_tree)and(paris_tree <= bangkok_tree)and(paris_tree <= newYork_tree)):
  tot_paris = tot_paris + 1
  print("O segundo método prediz que Paris tem o melhor custo beneficio com uma média de preço de R$ " + str(paris_tree.round()))

O segundo método prediz que New York tem o melhor custo beneficio com uma média de preço de R$ 220.0

In [77]:
# xgb
if ((capeTown_xgb <= mexicoCity_xgb)and(capeTown_xgb <= istanbul_xgb)and(capeTown_xgb <= hongKong_xgb)and(capeTown_xgb <= rome_xgb)and (capeTown_xgb <= sydney_xgb)and(capeTown_xgb <= rio_xgb)and(capeTown_xgb <= bangkok_xgb)and(capeTown_xgb <= newYork_xgb)and(capeTown_xgb <= paris_xgb)):
  tot_cape = tot_cape + 1
  print("O terceiro método prediz que cape Town tem o melhor custo beneficio com uma média de preço de R$ " + str(capeTown_xgb.round()))
elif ((mexicoCity_xgb <= capeTown_xgb)and(mexicoCity_xgb <= istanbul_xgb)and(mexicoCity_xgb <= hongKong_xgb)and(mexicoCity_xgb <= rome_xgb)and (mexicoCity_xgb <= sydney_xgb)and(mexicoCity_xgb <= rio_xgb)and(mexicoCity_xgb <= bangkok_xgb)and(mexicoCity_xgb <= newYork_xgb)and(mexicoCity_xgb <= paris_xgb)):
   tot_mexico = tot_mexico + 1
   print("O terceiro método prediz que a Cidade do Mexico tem o melhor custo beneficio com uma média de preço de R$ " + str(mexicoCity_xgb.round()))
elif ((istanbul_xgb <= capeTown_xgb)and(istanbul_xgb <= mexicoCity_xgb)and(istanbul_xgb <= hongKong_xgb)and(istanbul_xgb <= rome_xgb)and (istanbul_xgb <= sydney_xgb)and(istanbul_xgb <= rio_xgb)and(istanbul_xgb <= bangkok_xgb)and(istanbul_xgb <= newYork_xgb)and(istanbul_xgb <= paris_xgb)):
  tot_ista =tot_ista + 1
  print("O terceiro método prediz que istanbul tem o melhor custo beneficio com uma média de preço de R$ " + str(istanbul_xgb.round()))
elif ((hongKong_xgb <= capeTown_xgb)and(hongKong_xgb <= mexicoCity_xgb)and(hongKong_xgb <= istanbul_xgb)and(hongKong_xgb <= rome_xgb)and (hongKong_xgb <= sydney_xgb)and(hongKong_xgb <= rio_xgb)and(hongKong_xgb <= bangkok_xgb)and(hongKong_xgb <= newYork_xgb)and(hongKong_xgb <= paris_xgb)):
  tot_hong = tot_hong +1
  print("O terceiro método prediz que hong Kong tem o melhor custo beneficio com uma média de preço de R$ " + str(hongKong_xgb.round()))
elif ((rome_xgb <= capeTown_xgb)and(rome_xgb <= mexicoCity_xgb)and(rome_xgb <= istanbul_xgb)and(rome_xgb <= hongKong_xgb)and (rome_xgb <= sydney_xgb)and(rome_xgb <= rio_xgb)and(rome_xgb <= bangkok_xgb)and(rome_xgb <= newYork_xgb)and(rome_xgb <= paris_xgb)):
  tot_rome = tot_rome + 1
  print("O terceiro método prediz que roma tem o melhor custo beneficio com uma média de preço de R$ " + str(rome_xgb.round()))
elif ((sydney_xgb <= capeTown_xgb)and(sydney_xgb <= mexicoCity_xgb)and(sydney_xgb <= istanbul_xgb)and(sydney_xgb <= hongKong_xgb)and (sydney_xgb <= rome_xgb)and(sydney_xgb <= rio_xgb)and(sydney_xgb <= bangkok_xgb)and(sydney_xgb <= newYork_xgb)and(sydney_xgb <= paris_xgb)):
  tot_syd = tot_syd + 1
  print("O terceiro método prediz que sydney tem o melhor custo beneficio com uma média de preço de R$ " + str(sydney_xgb.round()))
elif ((rio_xgb <= capeTown_xgb)and(rio_xgb <= mexicoCity_xgb)and(rio_xgb <= istanbul_xgb)and(rio_xgb <= hongKong_xgb)and (rio_xgb <= rome_xgb)and(rio_xgb <= sydney_xgb)and(rio_xgb <= bangkok_xgb)and(rio_xgb <= newYork_xgb)and(rio_xgb <= paris_xgb)):
  tot_rio + tot_rio + 1
  print("O terceiro método prediz que rio de janeiro tem o melhor custo beneficio com uma média de preço de R$ " + str(rio_xgb.round()))
elif ((bangkok_xgb <= capeTown_xgb)and(bangkok_xgb <= mexicoCity_xgb)and(bangkok_xgb <= istanbul_xgb)and(bangkok_xgb <= hongKong_xgb)and (bangkok_xgb <= rome_xgb)and(bangkok_xgb <= sydney_xgb)and(bangkok_xgb <= rio_xgb)and(bangkok_xgb <= newYork_xgb)and(bangkok_xgb <= paris_xgb)):
  tot_bang = tot_bang + 1
  print("O terceiro método prediz que bangkok tem o melhor custo beneficio com uma média de preço de R$ " + str(bangkok_xgb.round()))
elif ((newYork_xgb <= capeTown_xgb)and(newYork_xgb <= mexicoCity_xgb)and(newYork_xgb <= istanbul_xgb)and(newYork_xgb <= hongKong_xgb)and (newYork_xgb <= rome_xgb)and(newYork_xgb <= sydney_xgb)and(newYork_xgb <= rio_xgb)and(newYork_xgb <= bangkok_xgb)and(newYork_xgb <= paris_xgb)):
  tot_new = tot_new + 1
  print("O terceiro método prediz que New York tem o melhor custo beneficio com uma média de preço de R$ " + str(newYork_xgb.round()))
elif ((paris_xgb <= capeTown_xgb)and(paris_xgb <= mexicoCity_xgb)and(paris_xgb <= istanbul_xgb)and(paris_xgb <= hongKong_xgb)and (paris_xgb <= rome_xgb)and(paris_xgb <= sydney_xgb)and(paris_xgb <= rio_xgb)and(paris_xgb <= bangkok_xgb)and(paris_xgb <= newYork_xgb)):
  tot_paris = tot_paris + 1
  print("O terceiro método prediz que Paris tem o melhor custo beneficio com uma média de preço de R$ " + str(paris_xgb.round()))

O terceiro método prediz que New York tem o melhor custo beneficio com uma média de preço de R$ 209.0

In [78]:
if (tot_cape > 2):
  print('O comitê acredita que o melhor custo benefio é a cidade de Cape Town')
elif (tot_mexico > 2):
  print('O comitê acredita que o melhor custo benefio é a cidade do Mexico')
elif (tot_ista > 2):
  print('O comitê acredita que o melhor custo benefio é a cidade de Istanbul')
elif (tot_hong > 2):
  print('O comitê acredita que o melhor custo benefio é Hong Kong')
elif (tot_rome > 2):
  print('O comitê acredita que o melhor custo benefio é Roma')
elif (tot_syd > 2):
  print('O comitê acredita que o melhor custo benefio é Sydney')
elif (tot_rio > 2):
  print('O comitê acredita que o melhor custo benefio é Rio de Janeiro')
elif (tot_bang > 2):
  print('O comitê acredita que o melhor custo benefio é Bangkok')
elif (tot_new > 2):
  print('O comitê acredita que o melhor custo benefio é Nova York')
elif (tot_paris > 2):
  print('O comitê acredita que o melhor custo benefio é Paris')

O comitê acredita que o melhor custo benefio é Nova York